.hand {
  margin: 0;
  display: grid;
  place-content: center;
  position: relative;
}
.hand > * {
  grid-row: 1;
  grid-column: 1;
}
.sum {
  opacity: 0;
  position: absolute;
  left: 0;
  top: -1.5rem;
  right: 0;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 1;
  user-select: none;
  animation: appear 1s ease 2s 1;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    transform: scale(0.9);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

